In [ ]:
# Lakshya Sonawane PRN:25070123068
#Experiment 4 : Sets

In [ ]:
#Creation of Set
thisset = {"apple", "banana", "cherry"}
print(thisset)

['apple', 'banana', 'cherry']
banana

In [ ]:
#Duplicates are not allowed
thisset = {"apple", "banana", "cherry","apple"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [ ]:
# The values True and 1 are considered the same value
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{True, 2, 'cherry', 'apple', 'banana'}

In [ ]:
# Too check membership
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)
print("Grapes" in thisset)

True
False

In [ ]:
#Once a set is created , you cannot replace its items,
#but you can add new items.
thisset = {"apple", "banana", "cherry"}
thisset.add(2)

thisset.remove("banana")
print(thisset)

{'cherry', 2, 'apple'}

In [14]:
# Set Operations
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference1:", A - B)
print("Difference2:", B - A)
print("Symmetric Difference:", A ^ B)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference1: {1, 2, 3}
Difference2: {8, 6, 7}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [17]:
#frozenset
# Unlike sets , elements cannot be added or removed from a fozenset.
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'cherry', 'apple', 'banana'})
<class 'frozenset'>

In [21]:
#Problem 1 :
students = ['A', 'B', 'C', 'D', 'E','C','D']
unique_participants = set(students)
print("Unique Participants:" , unique_participants)

Unique Participants: {'D', 'B', 'A', 'C', 'E'}

In [28]:
#Problem 2:
A = {"Chemistry" , "Maths", "Physics"}
B = {"Chemistry" , "English" , "Hindi"}
C = {"Physics", "Chemistry","German"}
common_subjects = A & B & C
print("Common Subjects:" , common_subjects)

Common Subjects: {'Chemistry'}

In [30]:
#Problem 3:
cricket_club = {"MSD", "Kohli", "Rohit","James"}
football_club = {"James" , "Palmer" , "Jao-Pedro","MSD"}
print("In both clubs:",cricket_club & football_club)
print("In only one club:",cricket_club ^ football_club)

In both clubs: {'MSD', 'James'}
In only one club: {'Palmer', 'Jao-Pedro', 'Rohit', 'Kohli'}

In [31]:
#Problem 4:
all_students = {"A", "B", "C", "D", "E"}
present_students = {"A", "B", "C"}
absent_students = all_students - present_students
print("Absent Students:", absent_students)

Absent Students: {'E', 'D'}

In [33]:
#Problem 5:
course_codes = {"ET101", "ET102", "ET103", "ET104", "ET105"}
course_codes.discard("ET103")
print("Updated Course Codes:", course_codes)

Updated Course Codes: {'ET102', 'ET101', 'ET105', 'ET104'}